:root {
    /*** backgrounds ***/
    --travelpie-dimension: 400px;
    --destination-card-width: 250px;
}

@media screen and (min-width: 1000px) {
    :root {
        /*** backgrounds ***/
        --travelpie-dimension: 750px;
    }
}

/**************************/
/********* GLOBAL *********/
/**************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Trying to remove white space at bottom of page */
html {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.selection-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 10px;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.canvas-subcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.destination-container {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.destination-card {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px; */
    width: var(--destination-card-width);
    height: 275px;
    border-radius: 10px;
    background-color: lightgrey;
    /* padding: 10px; */
    
    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .2);
    }
}

.destination-card-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.destination-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.destination-card__image img {
    width: var(--destination-card-width);
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.quadrant-picker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 5px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    width: 75%;
    margin-bottom: 5px;
}

.buttons > * {
    min-width: fit-content;
    flex: 1;
    &:hover {
        cursor: pointer;
    }
}

.button {
    font-weight: bold;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}

input {
    text-align: center;
    width: 3em;
}

.background {
    width: var(--travelpie-dimension);
    height: var(--travelpie-dimension);
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: calc(var(--travelpie-dimension) / 2);
}

canvas {
    width: var(--travelpie-dimension);
    height: var(--travelpie-dimension);
    border-radius: calc(var(--travelpie-dimension) / 2);
    border: 5px solid black;
}

#destinationSearchInput {
    background-image: url('../img/icon/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 1em;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.distance-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.distance-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.distance-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    background-color: lightgrey;
    width: fit-content;
    min-width: 300px;
    max-width: 100%;
    padding: 25px;
    border-radius: 5px;
    font-weight: bold;
}

.distance-form-header {
    font-size: 1.6em;
    align-self: center;
}

.distance-form-input {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: fit-content;
    min-width: 200px;
    max-width: 95%;
}

.distance-input {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: flex-start;
    font-weight: normal;
}

.numerical-input {
    flex: 1;
}

.submit-button {
    width: fit-content;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;

    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .2);
    }
}

.top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 1.5em; */
    background-color: darkgrey;
    padding: .25em 0px .25em 1em;
}

.nav-link {
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}